    /* frontpage  */
    
    .frontpage {
        overflow: hidden;
    }
    
    .frontpage .content {
        font-size: 30px;
        padding-left: 99px;
        padding-right: 79px;
    }
    
    .frontpage #contentsum1 {
        font-size: 20px;
    }
    
    @media screen and (max-width:650px) {
        .frontpage #logo1 img {
            height: 80px;
            filter: invert();
        }
        .frontpage .content {
            font-size: bolder;
            padding: 20px 20px 20px 20px;
            height: 488px;
            padding-bottom: 368px;
        }
    }
    
    @media screen and (max-width:395px) {
        .frontpage .content {
            font-size: 21px;
        }
        .frontpage #contentsum1 {
            font-size: 17px;
        }
    }
    /* Navbar */
    
    .navbar #navbarmain {
        position: relative;
    }
    
    .navbar #navbarmain li a {
        padding-left: 7px;
        padding-right: 9px;
    }
    
    @media screen and (max-width: 765px) {
        .navbar #navbarmain li a {
            font-size: small;
            padding: 5px;
        }
        .navbar .social {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 41px;
            width: 100%;
            align-items: center;
            justify-content: center;
            left: 13px;
        }
    }
    /* Kitchen */
    
    .kitchen {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .kitchen #intro {
        font-size: 45px;
        margin: 4px;
    }
    
    .kitchen #sum2 {
        margin-bottom: 0;
        padding: 0;
    }
    
    .kitchen .foodbox {
        flex-direction: column;
    }
    
    .foodbox img {
        width: 100%;
    }
    
    .foodbox .fooddesc {
        font-weight: bold;
    }
    /* Rooms */
    
    #r1,
    #r2,
    #r3,
    #r4 {
        flex-direction: column;
    }
    
    .rdesc {
        padding-top: 6px;
    }
    
    .roomspic {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rooms img {
        width: 90%;
        border-radius: 12px;
        padding: 0;
        margin-bottom: 17px;
        margin-right: 20vh;
        margin-left: 20vh;
    }
    
    .rooms .btn {
        margin-bottom: 30px;
    }
    /*About */
    
    .aboutpic img {
        width: 100%;
        padding: 30px;
    }
    
    .aboutpic .adesc {
        padding-top: 3px;
    }
    
    .aboutpic .adesc div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Contact */
    
    .contdata .cdesc {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Footer */
    
    footer {
        font-size: small;
    }
    
    @media screen and (max-width: 460px) {
        footer {
            font-size: smaller;
            height: 45px;
        }
    }